<launch>
<node name="laser_publisher" pkg="myquad" type="laser_pub.py" output="screen"/>

<node name="laser_tf_broadcaster2_node" pkg="myquad" type="laser_tf_broadcaster2.py" output="screen"/>

<node name="laser_tf_listener_node2" pkg="myquad" type="laser_tf_listener2.py" output="screen"/>

<node name="laser_geom_node" pkg="myquad" type="laser_geom.py" output="screen"/>

<node name="mapping_node" pkg="myquad" type="3dmapping.py" output="screen"/>


<node type="rviz" name="rviz" pkg="rviz" args="-d myquad/rviz/config_file.rviz" />
</launch>



##---robot_ekf_pose

 

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_footprint imu 100 " />

  <node type="rviz" 
  name="rviz" 
  pkg="rviz" 
  args="-d myquad/rviz/config_file.rviz" />


  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.07" />
    
    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="imu_frame" />
    
    <!-- maximum range to integrate (speedup!) -->
    <param name="sensor_model/max_range" value="15.0" />
    
    <!-- data source to integrate (PointCloud2) -->
    <remap from="cloud_in" to="/pcl2" />
  
  </node>